<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">
        <div class="alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
  
</div>
  
<div class="col-12" *ngIf="!cargando">
  
      <div class="card">
        <div class="card-body">
    
          <h3 class="card-title"> Almacenes </h3>
        
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Costo por unidad</th>
                <th>Cantidad</th>
                <!-- <th>Total</th> -->
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let producto of compra.products">
                  <td> {{ producto.nombre }}</td>
                  <td> {{ producto.costo_por_unidad }} </td>
                  <td> {{ producto.cantidad }} </td>
                  <!-- <td> {{ compra.cantidad * produc.costo_por_unidad }} </td> -->
                  <!-- <td>
                      <button (click)="editarProducto(producto)" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button (click)="borrarProducto(producto)" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                      </button>
                  </td> -->
              </tr>
            </tbody>
          </table>
    
        </div>
      </div>
    
</div>