<div class="row animated fadeIn"  >
    <div class="col-lg-8" style="width:800px; margin:0 auto;">
        <div class="card" >

            <div class="card-body">

                <h3 class="card-title"> Cree su contraseña </h3>
                <br>
                <br>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Contraseña</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-key"></i></div>
                            <input [ngModel]="contrasena" name="nombre" type="text" class="form-control" placeholder="" required>
                        </div>
                    </div>
                    
                    
                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>


