<div class="row animated fadeIn">
    <div class="col-lg-8">
        <div class="card">

            <div class="card-body">

                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre Sucursal</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="sucursal.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ciudad</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="sucursal.city_id" name="city_id" type="number" class="form-control" placeholder="Ciudad" required>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    
                    <a [routerLink]="['/sucursal']" class="btn btn-block btn-danger"> Cancelar </a>
                
                </form>

            </div>
        </div>
    </div>
</div>


