<!-- Main Sidebar Container -->
<aside [ngClass]="temaSidebar" class="main-sidebar elevation-4 ">
  <!-- Brand Logo -->
  <!-- <a href="../../index3.html" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png"
         alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a> -->

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/ERP-logo.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">ERP</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <!-- <li class="nav-item has-treeview menu-open">

          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../../index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../../index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v3</p>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="active" routerLink="/usuaripos">
                <i class="far fa-circle nav-icon"></i>
                <p>Usuarios</p>
              </a>
            </li>
          </ul>
        </li> -->

        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/usuarios">
            <i class="nav-icon fas fa-user"></i>
            <p>usuarios</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador || rolcompra">
          <a class="nav-link" routerLink="active" routerLink="/compras">
            <i class="nav-icon fas fa-box-open"></i>
            <p>Compras</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/proveedores">
            <i class="nav-icon fas fa-dolly"></i>
            <p>proveedores</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador || rolalmacen">
          <a class="nav-link" routerLink="active" routerLink="/categorias">
            <i class="nav-icon fas fa-bookmark"></i>
            <p>Categorias</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador || rolalmacen">
          <a class="nav-link" routerLink="active" routerLink="/producto">
            <i class="nav-icon fas fa-boxes"></i>
            <p>Productos</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/clientes">
            <i class="nav-icon fas fa-handshake"></i>
            <p>Clientes</p>
          </a>
        </li>
        <!-- <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/empleados">
            <i class="nav-icon fas fa-id-card"></i>
            <p>Empleados</p>
          </a>
        </li> -->
        <li class="nav-item" *ngIf="administrador || rolventa">
          <a class="nav-link" routerLink="active" routerLink="/ventas">
            <i class="nav-icon fas fa-cash-register"></i>
            <p>Ventas</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/activities">
            <i class="nav-icon fas fa-book"></i>
            <p>Bitacora</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/reporte">
            <i class="nav-icon fas fa-book"></i>
            <p>Reportes</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="active" routerLink="/almacenes">
            <i class="nav-icon fa fa-bandcamp"></i>
            <p>Almacenes</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/dptos">
            <i class="nav-icon fas fa-building"></i>
            <p>Departamentos</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/sucursal">
            <i class="nav-icon fas fa-adjust"></i>
            <p>Sucursales</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/ciudades">
            <i class="nav-icon fas fa-adjust"></i>
            <p>Ciudades</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="administrador">
          <a class="nav-link" routerLink="active" routerLink="/account-settings">
            <i class="nav-icon fas fa-cogs"></i>
            <p>Config</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link cursor">
            <i class="nav-icon fas fa-power-off"></i>
            <p>Logout</p>
          </a>
        </li>

        <!-- <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span class="hide-menu"> nombreusaurio </span></a>
          <ul aria-expanded="false" class="collapse">
              <li><a routerLink="active" routerLink="/perfil" class="pointer"> Pefil </a></li>
              <li><a href="javascript:void()">My Balance</a></li>
              <li><a href="javascript:void()">Inbox</a></li>
              <li><a routerLink="active" routerLink="/account-settings">Account Setting</a></li>
              <li><a class="pointer">Logout</a></li>
              <li><a (click)="_usuarioService.logOut()" class="pointer">Logout</a></li>
          </ul>
        </li> -->

        <!-- <li *ngFor="let menu of _sidebar.menu" class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i [class]="menu.icono"></i>
            <p>
              {{ menu.titulo }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">

            <li *ngFor="let submenu of menu.submenu" class="nav-item">
              <a [routerLink]="[ submenu.url ]" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> {{ submenu.titulo }} </p>
              </a>
            </li>
          </ul>

        </li> -->
   
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>