
<div class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
          <a href="../../index2.html"><b>ERP </b>SI2</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Intorduzca su nueva contraseña</p>
      
            <!-- <form action="../../index3.html" (ngsubmit)="ingresar( f )" method="post"> -->
            <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar( f )" method="post">

              <!-- password -->
              <div class="input-group mb-3">
                <input ngModel name="password" type="password" class="form-control" required placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>

              <!-- <div class="row"> -->
                
                <!-- /.col -->
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-block">Crear</button>
                </div>
                <!-- /.col -->
              <!-- </div> -->

            </form>
      
            <br>
            <p class="mb-0 text-center">
            </p>
          </div>
          <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

</div>
