
<!-- <div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">
        <div class="alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>

</div> -->

<div class="row animated fadeIn ml-2" >
    <div class="col-lg-8">
        <div class="card">

            <div class="card-body">

                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    
                    
                    <div class="form-group">
                        <label for="exampleInputuname">Ci</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-agenda"></i></div>
                            <input [ngModel]="cliente.ci" name="ci" type="text" class="form-control" placeholder="Ci Cliente" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-agenda"></i></div>
                            <input [ngModel]="cliente.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Apellido</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-agenda"></i></div>
                            <input [ngModel]="cliente.apellido" name="apellido" type="text" class="form-control" placeholder="Apellido" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Telefono</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-agenda"></i></div>
                            <input [ngModel]="cliente.telefono" name="telefono" type="text" placeholder="telefono" class="form-control" required>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>

                    <a [routerLink]="['/clientes']" class="btn btn-block btn-danger"> Cancelar </a>

                 
                </form>

            </div>
        </div>
    </div>
</div>


