<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                    
                <h4>Seleccione el Tema</h4>


                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        
                        <li class="d-block m-t-30"><b>Navbar</b></li>
                        <li>
                            <div class="bg-primary elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(0)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-secondary elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(1)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-info elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(2)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-success elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(3)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-danger elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(4)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-indigo elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(5)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-purple elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(6)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-pink elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(7)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-navy elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(8)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-lightblue elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(9)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-teal elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(10)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-cyan elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(11)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-dark elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(12)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-gray-dark elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(13)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-gray elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(14)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-light elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(15)">
                            </div>
                        </li>
                        
                        <li>
                            <div class="bg-warning elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(16)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-white elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(17)">
                            </div>
                        </li>
                        <li>
                            <div class="bg-orange elevation-2"
                                 style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                 (click)="changeTheme(18)">
                            </div>
                        </li>

                        <li class="d-block m-t-30"><b>Sidebar</b></li>

                        <!-- <li>    <div class="bg-primary elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(0)"> </div>
                        </li>
                        <li>    <div class="bg-warning elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(1)"> </div>
                        </li>
                        <li>    <div class="bg-info elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(2)"> </div>
                        </li>
                        <li>    <div class="bg-danger elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(3)"> </div>
                        </li>
                        <li>    <div class="bg-success elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(4)"> </div>
                        </li>
                        <li>    <div class="bg-indigo elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(5)"> </div>
                        </li>
                        <li>    <div class="bg-lightblue elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(6)"> </div>
                        </li> -->
                        <li>    <div class="bg-navy elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(7)"> </div>
                        </li>
                        <!-- <li>    <div class="bg-purple elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(8)"> </div>
                        </li>
                        <li>    <div class="bg-fuchsia elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(9)"> </div>
                        </li>
                        <li>    <div class="bg-pink elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(10)"> </div>
                        </li>
                        <li>    <div class="bg-maroon elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(11)"> </div>
                        </li>
                        <li>    <div class="bg-orange elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(12)"> </div>
                        </li>
                        <li>    <div class="bg-lime elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(13)"> </div>
                        </li>
                        <li>    <div class="bg-teal elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(14)"> </div>
                        </li>
                        <li>    <div class="bg-olive elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(15)"> </div>
                        </li> -->

                        <!-- <li class="d-block m-t-30"><b>Con el Sidebar Claro</b></li> -->

                        <li>    <div class="bg-light elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(16)"> </div>
                        </li>
                        <!-- <li>    <div class="bg-warning elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(17)"> </div>
                        </li>
                        <li>    <div class="bg-info elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(18)"> </div>
                        </li>
                        <li>    <div class="bg-danger elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(19)"> </div>
                        </li>
                        <li>    <div class="bg-success elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(20)"> </div>
                        </li>
                        <li>    <div class="bg-indigo elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(21)"> </div>
                        </li>
                        <li>    <div class="bg-lightblue elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(22)"> </div>
                        </li>
                        <li>    <div class="bg-navy elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(23)"> </div>
                        </li>
                        <li>    <div class="bg-purple elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(24)"> </div>
                        </li>
                        <li>    <div class="bg-fuchsia elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(25)"> </div>
                        </li>
                        <li>    <div class="bg-pink elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(26)"> </div>
                        </li>
                        <li>    <div class="bg-maroon elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(27)"> </div>
                        </li>
                        <li>    <div class="bg-orange elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(28)"> </div>
                        </li>
                        <li>    <div class="bg-lime elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(29)"> </div>
                        </li>
                        <li>    <div class="bg-teal elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(30)"> </div>
                        </li>
                        <li>    <div class="bg-olive elevation-2"
                                    style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;"
                                    (click)="changeThemeSidebar(31)"> </div>
                        </li> -->

                    </ul>

                    
                    
                
                </div>

                <div class="r-panel-body"></div>

            </div>
         </div>
    </div>
</div>