/* You can add global styles to this file, and also import other style files */


#themecolors .selector, .cursor {
    cursor: pointer;
}

/* .card{
    height: 580px;
    overflow: hidden;
    overflow-y: scroll;
} */

/* .cursor{
    cursor: pointer;
} */

.content-wrapper{
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}